# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration file
local.properties

# Android Studio
*.iml
.idea/

# Proguard
proguard/

# Log files
*.log

# Android APK (keep the published one in public/downloads)
app/build/outputs/
