<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VHRTtsReceiver"
        android:usesCleartextTraffic="true">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VHRTtsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TTS Service -->
        <service
            android:name=".TtsService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".MicUplinkService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".AudioDownlinkService"
            android:enabled="true"
            android:exported="false" />

        <!-- BroadcastReceiver pour les messages TTS -->
        <receiver
            android:name=".TtsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vhr.voice.TTS_MESSAGE" />
                <action android:name="com.vhr.dashboard.TTS_MESSAGE" />
            </intent-filter>
        </receiver>

        <!-- Receiver pour les boots -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
